
<!--Created by fengwu on 16/7/10.
-->
<li ng-if="post.Source == 0">
  <div class="blog-item" ng-class="{'{animated:true,fadeIn: true}': angular.element('.home-loading').length &gt; 0 }" uid="{{post.Alias}}"><a class="preview-link" title="点击预览" ng-click="getPreviewContent()"></a>
    <h4><a href="/blog/{{post.CategoryAlias}}/{{post.Alias}}" target="_blank" title="文章标题">{{post.Title}}</a></h4><span title="文章分类"><i class="fa fa-map-signs"></i><a href="/blog/{{post.CategoryAlias}}" target="_blank">{{post.CateName}}</a></span><span class="margin-left-20" title="发布时间"><i class="fa fa-clock-o">{{post.CreateTime}}</i></span>
    <div class="clearfix"></div>
    <p>{{post.Summary}}</p>
  </div>
  <div class="hr-line-dashed"></div>
</li>