
<!--Created by fengwu on 16/7/3.
-->
<div ng-controller="BlogCtrl as blog" class="container-fluid render-body">
  <div class="row">
    <div class="col-md-2 category-block hidden-sm hidden-xs">
      <div class="category-top">Category</div>
      <div class="category-split"></div>
      <div ng-scrollbars="ng-scrollbars" ng-init="initCategoryList()" class="category-list">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="currentCate == cate.Alias?'active':''" ng-repeat="cate in categories"><a ng-if="!cate.Link" ng-href="{{'/blog' + cate.Alias? '/' + cate.Alias:''}}"><img ng-src="{{cate.Img}}"/><span>{{cate.CateName}}</span></a><a ng-if="cate.Link" target="_blank"><img ng-src="{{cate.Img}}"/><span>{{cate.CateName}}</span></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2 blog-list">
      <div class="row data-block">
        <div class="col-md-12">
          <div class="list-wrap">
            <div class="row top-bar">
              <form id="filterForm" ng-submit="submit()">
                <div class="col-md-7 col-sm-4 hidden-xs list-top-left"><a title="sort by date" sort="date" class="current">date</a> <a title="sort by title" sort="title">title</a>
                  <input id="CateAlias" type="text" ng-model="currentCate" class="hidden"/>
                  <input id="SortBy" type="text" ng-model="sortBy" class="hidden"/>
                  <input id="PageIndex" type="text" ng-model="pageIndex" class="hidden"/>
                  <input id="PageSize" type="text" ng-model="pageSize" class="hidden"/>
                </div>
                <div class="col-md-5 list-top-right">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <div data-resize="auto" data-initialize="selectlist" class="btn-group selectlist">
                        <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle"><span class="selected-label"></span><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                        <ul role="menu" class="dropdown-menu animated-quick fadeInDown">
                          <li data-value="0" data-selected="true" class="active"><a href="#">full article</a></li>
                          <li data-value="1"><a href="#">title</a></li>
                          <li data-value="2"><a href="#">tag</a></li>
                          <li data-value="3"><a href="undefined">date</a></li>
                        </ul>
                        <input id="FilterType" type="text" readonly="readonly" aria-hidden="true" name="FilterType" class="hidden hidden-field"/>
                      </div>
                    </div>
                    <input id="Keyword" type="text" placeholder="Category" name="Keyword" class="form-control"/>
                    <div class="input-group-btn">
                      <button id="btnFilter" type="button" ng-click="" class="btn btn-white"><i class="fa fa-search"></i> <span class="hidden-sm hidden-xs">search</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <ol ng-if="posts.length &gt; 0" class="list-unstyled">
              <li id="page{{pageIndex}}">
                <div ng-repeat="post in posts track by $index">
                  <pre>modalStyle={{modalStyle.right}}</pre>
                  <article-preview post="post" modal-style="modalStyle.right"></article-preview>
                </div>
              </li>
            </ol>
            <div id="load-list" style="display:none;" ng-show="" class="spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div id="no-more" style="display:none;" class="text-muted text-center">Reach the end</div>
          </div>
        </div>
      </div>
      <div class="row footer">
        <div class="col-md-12">
          <footer>
            <P>{{currentDate}} © All Rights Reserved {{recordNo ? '|' + recordNo : ''}}<span class="hidden-xs"><a ng-href="/admin" target="_blank">后台管理</a></span></P>
          </footer>
        </div>
        <div id="scrollSpy" class="col-md-1">
          <ul id="page-nav" class="list-unstyled hidden-sm hidden-xs affix-top">
            <li ng-style="heightStyle"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2 hidden-sm hidden-xs empty-block"></div>
  </div>
  <div ng-click="closeModal()" class="post-cover"></div>
  <div ng-style="modalStyle" class="post-modal col-md-7 col-sm-12 col-xs-12">
    <div class="modal-header">
      <h4><a ng-href="/blog/{{blog.post.CategoryAlias}}/{{blog.post.Alias}}" target="_blank" title="文章标题"></a>{{blog.post.Title}}</h4>
    </div>
    <div class="modal-body">
      <div style="display:none;" class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
      <div class="post-content">
        <div></div>
      </div>
    </div>
    <div class="modal-footer">
      <div id="label-foot" style="margin-top:3px;" class="col-md-7 text-left hidden-sm hidden-xs"></div>
      <div class="col-md5 text-right">
        <button id="btnCloseModel" type="button" class="btn btn-white">close</button><a id="btnFullMode" href="" target="_blank" class="btn btn-green"><i class="fa fa-external-link"></i>Full Mode</a>
      </div>
    </div>
  </div>
</div>