
<!--Created by fengwu on 16/7/23.
-->
<div class="container animated fadeInDownSmall">
  <div class="row login-block">
    <h3 class="col-md-4 col-md-offset-4 login-title text-center">Admin Login</h3>
    <div class="col-md-4 col-md-offset-4 login-wrap">
      <div class="form-group form-group-lg">
        <input id="txtUser" type="text" placeholder="Username" class="form-control"/>
      </div>
      <div class="form-group form-group-lg">
        <input id="txtPwd" type="password" placeholder="Password" class="form-control"/>
      </div>
      <button id="btnLogin" type="button" autocomplete="off" class="btn btn-green btn-lg btn-block"><i class="fa fa-sign-in fa-fw"></i>Login</button>
    </div>
  </div>
</div>
<!-- Time Bar-->
<div id="progress-back" class="load-item">
  <div id="progress-bar"></div>
</div>