
<!--Created by fengwu on 16/7/1.-->
<div class="header">
  <div role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img ng-src="images/wufeng_katong.jpg" style="height: 50px"/><span>Wu Feng Blog</span></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav my-nav-pills navbar-right">
          <li class="active"><a ng-href="/blog"><i class="fa fa-file-text-o fa-fw"></i>博客</a></li>
          <li><a ng-href="/guestbook"><i class="fa fa-edit fa-fw"></i>留言</a></li>
          <li><a ng-href="/about"><i class="fa fa-user fa-fw"></i>关于</a></li>
          <li><a href="/locale/chinese"><i class="fa fa-language fa-fw"></i>中文</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container animated fadeInDownSmall">
  <div class="row login-block">
    <h3 class="col-md-4 col-md-offset-4 login-title text-center">Admin Login</h3>
    <div class="col-md-4 col-md-offset-4 login-wrap">
      <div class="form-group form-group-lg">
        <input id="txtUser" type="text" placeholder="Username" class="form-control"/>
      </div>
      <div class="form-group form-group-lg">
        <input id="txtPwd" type="password" placeholder="Password" class="form-control"/>
      </div>
      <button id="btnLogin" type="button" autocomplete="off" class="btn btn-green btn-lg btn-block"><i class="fa fa-sign-in fa-fw"></i>Login</button>
    </div>
  </div>
</div>
<div id="progress-back" class="load-item">
  <div id="progress-bar"></div>
</div>