//
   Created by fengwu on 16/7/23.
.container.animated.fadeInDownSmall
  .row.login-block
    h3.col-md-4.col-md-offset-4.login-title.text-center Admin Login
    .col-md-4.col-md-offset-4.login-wrap
      .form-group.form-group-lg
        input#txtUser.form-control(type='text', placeholder="Username")
      .form-group.form-group-lg
        input#txtPwd.form-control(type='password', placeholder="Password")
      button#btnLogin.btn.btn-green.btn-lg.btn-block(type='button' autocomplete='off')
        i.fa.fa-sign-in.fa-fw
        | Login
// Time Bar

#progress-back.load-item
  #progress-bar
