//Created by fengwu on 16/7/25.
block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-8
      h2 Comments
  .wrapper.wrapper-content.animated.fadeIn
    .row
      .col-lg-12
        .ibox
          .ibox-content


